# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# VI swap files
*.swp

# Windows links.
*.lnk

# Temporary files
tmp*

# Project files
.project
nbproject
.sass-cache
*.sublime_session

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Drush files
.drush/cache
.drush/drush_iq
